################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/netcoreapp2.1
/obj/Debug/netcoreapp2.1
/obj
/.vs/silver-octo-guide/v15/Server/sqlite3
